@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0.5; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: uppercase; 
    transform: translateY(-150px);
    animation: slide-from-top 1.5s ease-in forwards;
}
@keyframes slide-from-top {
    85% {transform: translateY(15px);}
    100% {transform: translateY(0);}
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 138, 138, 0.461);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #151515;
    font-size: 0.5rem;
    text-transform: uppercase;
}

.modal-content {
    background-color: rgb(109, 145, 160);
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 600px;
    animation: zoom-in 2s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
}

.movie-poster-modal {
    width: 300px;
    border-radius: 5%;
}

.movie-poster {
    width: 300px;
    cursor: pointer;
    border-radius: 5%;
}

.movie-rating {
    display: inline-block; 
    border: 1px solid #151515;
    padding: 0.2rem; 
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize; 
    letter-spacing: 0.1rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block; 
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    transform: translateY(-150px);
    animation: slide-from-top 2s ease-in-out forwards;
}
@keyframes slide-from-top {
    80% {transform: translateY(10px);}
    100% {transform: translateY(0);}    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: rgb(145, 216, 228);
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-150px);
    animation: slide-from-top 2s ease-in-out forwards;
}
@keyframes slide-from-top {
    80% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

footer {
    margin-top: 5rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}